#idUm {
  background-image: url(home.png);
  background-repeat: no-repeat;
  width: 1140px;
  height: 333px;
}

#idDois {
  background-color: #F37000; 
}

#idTres {
  background-color: #F37000; 
  background-image: url(logo.png);
  width: 202px;
  height: 60px;
}

#idPagSeguro {
  background-color: #000; 
  background-image: url(pagseguro.jpg);
  width: 148px;
  height: 45px;
}

#idPayPal {
  background-color: #F37000; 
  background-image: url(paypal.png);
  width: 148px;
  height: 45px;
}